.menuitem
{
	font-family: Verdana, Arial, Helvetica, sans serif;
	font-size: 10px;
	font-weight: 800;
	text-indent: 0px;
	color: #bbbb00;
	text-decoration: none;
}

.menusubitem
{
	font-family: Verdana, Arial, Helvetica, sans serif;
	font-size: 10px;
	font-weight: 800;
	text-indent: 10px;
	color: #bbbb00;
	text-decoration: none;
}

.menutext
{
	font-family: Verdana, Arial, Helvetica, sans serif;
	font-size: 10px;
	text-indent: 0px;
	color: #777777;
}

.bodytext
{
	font-family: Verdana, Arial, Helvetica, sans serif;
	font-size: 10px;
	text-indent: 0px;
	color: #000000;
}

.teamtext,a.teamtext
{
	font-family: Verdana, Arial, Helvetica, sans serif;
	font-size: 8px;
	text-indent: 0px;
	color: #000000;
}